@tailwind base;
@tailwind components;
@tailwind utilities;


.shadow > p{
    text-shadow: 2px 2px 4px  rgba(0, 0, 0, 1);}

/* make scrollbar invisible   */
#scroll::-webkit-scrollbar{
    display:none;
}
#scroll {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
