@tailwind base;
@tailwind components;
@tailwind utilities;



/* make scrollbar invisible   */
#scroll::-webkit-scrollbar{
    display:none;
}
#scroll {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
